.header {
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}

.main {
  position: absolute;
  top: var(--nav-bar-height);
  height: calc(100% - var(--nav-bar-height));
  width: 100%;
  overflow: auto;
}
