.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  font: var(--body-font);
}

.form_field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.auth_question {
  font: var(--body-font);
}

.auth_question a {
  color: var(--accent);
}
